# Debug files
debug_*.html
response.xml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
bin/
lib/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# OS files
.DS_Store
Thumbs.db

# Project
.env
archive/
*.html
*.xml
response.xml
